{% load static %}
<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0">
  <title>{{ title }}</title>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway:700,400">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
  
  <link rel="stylesheet" href="{% static 'hello/css/normalize.css' %}">
  <link rel="stylesheet" href="{% static 'hello/css/style.css' %}">
</head>
<body>
  <header class="header">
    <p class="site-title-sub">Web engineer's portfolio</p>
    <h1 class="site-title">HI, MY NAME IS... HCHA</h1>
    <p class="site-description">Check out some of my works.</p>
    <div class="buttons">
      <a class="button" href="#about">LEARN MORE</a>
      <a class="button button-showy" href="#works">MY WORKS</a>
    </div>
  </header>
  <section class="about" id="about">
    <h2 class="heading">ABOUT ME</h2>
    <p class="about-text">
      はじめまして。<br>
      主にDjangoでWebアプリを作成しています。<br>
      東京電機大学の大学３年です。<br>
      実空間コンピューティング研究室に所属。

    </p>
    
    <p class="about-text">
      世の中に無い新しいものを作る事を目指しています。<br>
    </p>
    <a href="https://github.com/h-cha" title="GitHub">Github</a>
    
    
  </section>
  <section class="works" id="works">
    <h2 class="heading">WORKS</h2>
    <div class="works-wrapper">
      <div class="work-box tree">
        <img class="work-image" src="{% static 'hello/images/tree.jpg' %}" alt="制作事例1">
        <div class="work-description">
          <div class="work-description-inner">
            <p class="work-text">
              リアルタイムオンラインチャット<br>
              ユーザー認証付き<br>
              #Django #SQLite #html #css #javascript <br>
              <a href="{% url goto_work1 %}" class="button button-ghost">READ MORE</a>
            </p>
          </div>
        </div>
      </div>
      <div class="work-box building">
        <img class="work-image" src="{% static 'hello/images/sky.jpg' %}" alt="制作事例2">
        <div class="work-description">
          <div class="work-description-inner">
            <p class="work-text">
              中学生の数学のWEB教科書<br>
              動画の解説＋問題演習できます。<br>
              #Django #SQLite #html #css<br>
              <a href="{% url goto_work2 %}" class="button button-ghost">READ MORE</a>
            </p>
          </div>
        </div>
      </div>
      <div class="work-box lake">
        <img class="work-image" src="{% static 'hello/images/lake.jpg' %}" alt="制作事例3">
        <div class="work-description">
          <div class="work-description-inner">
            <p class="work-text">
              地域の高齢化がわかるアプリ<br>
              郵便番号を入力するとその地域の世代別人口分布が分かります。<br>
              #java #postgreSQL #html #css #javascript<br>
              <a href="{% url goto_work3 %}" class="button button-ghost">READ MORE</a>
            </p>
          </div>
        </div>
      </div>
      <div class="work-box sky">
        <img class="work-image" src="{% static 'hello/images/sky.jpg' %}" alt="制作事例4">
        <div class="work-description">
          <div class="work-description-inner">
            <p class="work-text">
              食材残さないよ太郎<br>
              現在４人で制作中。賞味期限が短い食品を消費できるようなレシピを表示します。<br>
              #django #SQLite #html #css<br>
              <a href="{% url goto_work4 %}" class="button button-ghost">READ MORE</a>
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="skills">
    <h2 class="heading">MY SKILLS</h2>
    <div class="skills-wrapper">
      <div class="skill-box">
        <i class="skill-icon fa fa-lightbulb-o"></i>
        <div class="skill-title">IDEA</div>
        <p class="skill-text">
          新しい事をよく考えています。<br>
          地図上の位置関係を利用した旅行アプリや<br>
          地域の声を活用して防犯する仕組みなど…
        </p>
      </div>
      <div class="skill-box">
        <i class="skill-icon fa fa-paint-brush"></i>
        <div class="skill-title">TRY AND ERROR</div>
        <p class="skill-text">
        　どんなことにも挑戦したいです。<br>
          開発している中でよくエラーになりますが<br>
          それを解決できた時が一番楽しいです。<br>
        　最近Go言語に挑戦中。
        </p>
      </div>
      <div class="skill-box">
        <i class="skill-icon fa fa-code"></i>
        <div class="skill-title">CODING</div>
        <p class="skill-text">
          pythonのフレームワークDjangoで<br>
          WEBアプリを作成しています。<br>
          ArduinoでIotシステムを作成しました。<br>
          Javaでオブジェクト指向プログラミングを<br>
          学んでいます。
        </p>
      </div>
    </div>
  </section>
  <footer class="footer">
      hcha site 
  </footer>
  
</body>
</html>
