{% load static %}
<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0">
  <title>{{ title }}</title>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway:700,400">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
  
  <link rel="stylesheet" href="{% static 'hello/css/normalize.css' %}">
  <link rel="stylesheet" href="{% static 'hello/css/style.css' %}">
</head>
<body>
  
  <section class="about" id="about">
    <h2 class="heading">ABOUT ME</h2>
    <p class="about-text">
      はじめまして。<br>
      主にDjangoでWebアプリを作成しています。<br>
      東京電機大学の大学３年です。<br>
      実空間コンピューティング研究室に所属。

    </p>
    <a href="{% url goto %}" >HOME</a>
    
    <p class="about-text">
      世の中に無い新しいものを作る事を目指しています。<br>
    </p>
    <a href="https://github.com/h-cha" title="GitHub">Github</a>
    
    
  </section>

  
  <footer class="footer">
      hcha site 
  </footer>
  
</body>
</html>
